In [37]:
# silence warnings
import warnings
warnings.filterwarnings("ignore")

# operating system
import os

# time calculation to track some processes
import time

# numeric and matrix operations
import numpy as np
import pandas as pd

# loading ploting libraries
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# python core library for machine learning and data science
import sklearn
from sklearn import set_config
set_config(transform_output = "pandas")
pd.set_option('display.max_columns',None)
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import RobustScaler, MinMaxScaler
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.cluster import KMeans

In [6]:
calendario = pd.read_csv("data/daily_calendar_with_events.csv")
precios = pd.read_csv("data/item_prices.csv")
ventas = pd.read_csv("data/item_sales.csv")

In [7]:
ventas.head()

,id,item,category,department,store,store_code,region,d_1,d_2,d_3,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [15]:
gddf=pd.get_dummies(ventas, columns=['category',"department","store","region"])

In [17]:
gddf.drop(["store_code","id"],axis=1,inplace=True)

In [23]:
gbdf=gddf.groupby(["item"]).sum().reset_index()

In [38]:
gbdf.iloc[:,-23:]

,category_ACCESORIES,category_HOME_&_GARDEN,category_SUPERMARKET,department_ACCESORIES_1,department_ACCESORIES_2,department_HOME_&_GARDEN_1,department_HOME_&_GARDEN_2,department_SUPERMARKET_1,department_SUPERMARKET_2,department_SUPERMARKET_3,store_Back_Bay,store_Brooklyn,store_Greenwich_Village,store_Harlem,store_Midtown_Village,store_Queen_Village,store_Roxbury,store_South_End,store_Tribeca,store_Yorktown,region_Boston,region_New York,region_Philadelphia
0,10,0,0,10,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,3,4,3
1,10,0,0,10,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,3,4,3
2,10,0,0,10,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,3,4,3
3,10,0,0,10,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,3,4,3
4,10,0,0,10,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3044,0,0,10,0,0,0,0,0,0,10,1,1,1,1,1,1,1,1,1,1,3,4,3
3045,0,0,10,0,0,0,0,0,0,10,1,1,1,1,1,1,1,1,1,1,3,4,3
3046,0,0,10,0,0,0,0,0,0,10,1,1,1,1,1,1,1,1,1,1,3,4,3
3047,0,0,10,0,0,0,0,0,0,10,1,1,1,1,1,1,1,1,1,1,3,4,3
3048,0,0,10,0,0,0,0,0,0,10,1,1,1,1,1,1,1,1,1,1,3,4,3